<div class="col-md-8 show">
  <a href="/jobs" class="btn btn-default">
    <span class="fa fa-arrow-left" style="margin-right: 10px;"></span>
    返回工作列表
  </a>

  <p>
    <br/>
    <a style="font-size: 20px;" href="#"><%= @job.CompanyName %></a>
  </p>
  <h2> <%= @job.title %> </h2>
  <p class="info">
    <span class="salary">
      <span class="label label-default">
        <%= @job.wage_lower_bound %>
      </span>
      - <span class="label label-default">
        <%= @job.wage_upper_bound %>
      </span>
    </span>
    <span>/</span>
    <span><span class="fa fa-map-marker"></span>
    <%= @job.CompanyLocation %>
  </span>
  <span>/</span>
  <span><span class="fa fa-calendar"></span>
  <%= @job.created_at %>
</span>
</p>
<hr>
<p>
  <%= simple_format(@job.description) %>
</p>
<div class="text-center">
  <%= link_to("投交履历", new_job_resume_path(@job), :style => "font-size: 30px; text-decoration:underline;") %>
</div>
</div>
