<!DOCTYPE html>
<html>
  <head>
    <title>JobListing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <div class="container-fluid">
        <%= render "common/navbar" %>
         <%= render "common/flashes" %>
         <%= yield %>
     </div>

     <%= render "common/footer" %>
     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
         <script type="text/javascript" src="http://demo.cssmoban.com/cssthemes3/cpts_401_pz/js/jquery.hoverdir.js"></script>
     <%= yield :handwrite_javascript %>
     <script type="text/javascript" src="http://demo.cssmoban.com/cssthemes3/cpts_401_pz/js/modernizr.custom.97074.js"></script>
  </body>
</html>
